/* ============== CENTRAL CSS STYLING & DISPLAY ============== */

:root {
    /* Website Colors */
    --website-light-blue:                #ddd9ff;
    --website-white:                     #fcfcfc;
    --website-button-blue:               #00b7ff;
    --website-button-hover-blue:         #15a8e2;

    /* Website Fonts */
    --font-montserrat: "Montserrat", sans-serif;
    --font-lato: "Lato", sans-serif;
}

/* ----- DISPLAY & STYLING of the HTML page & elements ----- */
/* 'margin' is interfering with the background display so it is not being tampered with, only padding */

body {
    margin: 0;
    padding: 40px 70px 40px 40px;
    background-image: url("/pictures/section-image.png");
    background-position: center;
    background-size: cover;
}

p {
    font-family: var(--font-lato);
    font-size: 18px;

}

h1 {
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 20px;
}

/* =========== DISPLAY & STYLING of the main page =========== */

.main-page {
    display: flex;
    justify-content: center;
    gap: 120px;
}

/* ----- DISPLAY & STYLING of page-cards ----- */

.page-card {
    width: 35%;
    padding: 30px 50px 50px 50px;
    background-color: var(--website-white);
    border-radius: 40px;
}

.result-card {
    width: 87%;
    padding: 30px 50px 50px 50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--website-white);
    border-radius: 40px;
    display: none;
}

.result-sections {
    display: flex;
    justify-content: center;
    gap: 500px;
}

/* ----- DISPLAY & STYLING of the table ----- */

table {
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 6px;
    border-right: solid 1px black;
    border-top: solid 1px black;
    font-family: var(--font-montserrat);
}

td {
    padding: 6px;
    border-right: solid 1px black;
    border-top: solid 1px black;
    font-family: var(--font-lato);
}

/* ----- DISPLAY & STYLING of the form elements ----- */

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.error-message {
    color:red;
    line-height: 0;
}

label {
    font-family: var(--font-lato);
    font-size: 20px;
}

input {
    font-size: 20px;
    font-family: var(--font-lato);
    padding: 5px 0 5px 10px;
}

button {
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: var(--website-button-blue);
    border: none;

    margin-top: 20px;
}

button:hover {
    background-color: var(--website-button-hover-blue);
    transform: translateY(1px)scale(1.01);
    
}



